

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a932ad;
    color: #0a0808;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #601781;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
}

#countdown {
    margin: 20px 0;
}

#timer {
    font-size: 2rem;
    color: #ffffff;
}



footer {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #080108;
}